body {
	background-color: #f0f0f0;
}

.card {
	margin-bottom: 30px;
}

#lecture-on-header {
	font-size: 1.2rem;
}

#pulsing-multiplier {
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-position: top center;
}

.navbar {
	margin-bottom: 1rem;
}

/* embed responsively */
.performance .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.generative .embed-container {
	height: 300px;
	margin-bottom: 5px;
}

.generative .row {
	padding-bottom: 1rem;
}
